<h2>Hello <%=@class.teacher.name %>!  This is your <%=@class.name %> class</h2><br>



<h2>Students in this class</h2>
<%@class.students.each do |students| %>
    <p><%=students.name%></p>
<%end%>

<h2>Curriculum for this class</h2>
<%@class.curriculums.each do |curriculum| %>
    <p><%=curriculum.name%></p>
<%end%>

<h2>Assignments for this class</h2>
<%@class.assignments.each do |assignment| %>
    <p><%=assignment.name%></p>
<%end%>


<h2>---------------------------------------</h2>


<h3><a href="/teacher/<%=@teacher.slug%>">Back to Homepage</a></h3>
